<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selectorizer</title>
    <style>
      body {
        padding-top: 500px;
        height: 1000px;
      }

      .row {
        display: flex;
      }

      .column {
        width: 50%;
        padding: 10px 20px;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="column">
        <select name="select" class="select-1">
          <option value="1">option 1</option>
          <option value="2">option 2</option>
          <option value="3">option 3</option>
        </select>
        <br />
        <select name="select-2" class="select-2">
          <option value="1">selected option</option>
          <option disabled value="2">disabled option</option>
          <option value="3">option 3</option>
          <option value="4">hovered option</option>
        </select>
      </div>
      <div class="column">
        <select name="select-3" class="select-3">
          <option value="1">option 1</option>
          <option selected value="2">option 2</option>
          <option value="3">option 3</option>
        </select>
        <br />
        <select name="select-4" class="select-4">
          <option value="6">very long option text</option>
          <option value="7">option 7</option>
          <option disabled value="8">disabled option</option>
          <option value="9">very long option text</option>
          <option value="10">option 10</option>
          <option value="11">option 11</option>
          <option value="12">very long option text</option>
          <option value="13">option 13</option>
          <option value="14">option 14</option>
        </select>
      </div>
    </div>
  </body>
</html>
